*{ box-sizing: border-box; }

:root {
  --nav-width: 15vw;
}


html{
  scroll-behavior: smooth;
}

body{
  margin: 0;
  padding-left: var(--var-width);

}

nav{

position: fixed;
left: 0;
width: var(--nav-width);
height: 100vh;
padding: 2em;
background: #333;
color: #fff;
}

a{
  color: inherit;
  text-decoration: none;
  display: block;
  padding: 10px;
}

a.hover{
  text-decoration: underline;
background-color: yellow;
}

.box{

   width: 70%;
   height: 180px;
   overflow-y: auto;
   overflow-x: hidden;


   position: fixed;
   right: 0;
   width: var(--nav-width);
   height: 100vh;
   padding: 2em;

}
